
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">

    <img src="~/images/logo.png" alt="Logo" class="logo" />
    <input type="button" value="Click Me" class="btn btn-danger" />
    <h1 class="h1">This is Home Page Index action</h1>

    <p>This is the Home Page of Our Book Store Application</p>
</body>
</html>
