
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <img src="~/images/logo.png" alt="Logo"  class="logo"/>
    <p>This is the Home Page of Our Book Store Application</p>
</body>
</html>
